<a href="https://colab.research.google.com/github/mssuhas/Workshop-on-Applications-of-Python-Programming-in-Data-Analytics-and-Machine-Learning-master/blob/master/Day_2_session_2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [0]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Student-{i+1}: ")
  d[n]=int(input(f"Enter The Marks Of Student-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1), reverse=True)))

Enter The Number Of Students: 3
Enter The Name Of Student-1: shrinivas
Enter The Marks Of Student-1: 90
Enter The Name Of Student-2: kunder
Enter The Marks Of Student-2: 95
Enter The Name Of Student-3: pratham
Enter The Marks Of Student-3: 88
{'kunder': 95, 'shrinivas': 90, 'pratham': 88}

#2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [0]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(0))))

Enter The Number Of Students: 3
Enter The Name Of Employee-1: kunder
Enter The Salary Of Employee-1: 30000
Enter The Name Of Employee-2: amar
Enter The Salary Of Employee-2: 50000
Enter The Name Of Employee-3: pratham
Enter The Salary Of Employee-3: 20000
{'amar': 50000, 'kunder': 30000, 'pratham': 20000}

#3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [0]:
import operator
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict(sorted(d.items(), key=operator.itemgetter(1))))
print(f"Sum: {sum(d.values())}\nMax: {max(d.values())}\nMin: {min(d.values())}\nAverage: {sum(d.values())/len(d)}")

Enter The Number Of Students: 3
Enter The Name Of Employee-1: amar
Enter The Salary Of Employee-1: 30000
Enter The Name Of Employee-2: kunder
Enter The Salary Of Employee-2: 20000
Enter The Name Of Employee-3: pratham
Enter The Salary Of Employee-3: 40000
{'kunder': 20000, 'amar': 30000, 'pratham': 40000}
Sum: 90000
Max: 40000
Min: 20000
Average: 30000.0

#4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [0]:
d={}
for i in range(int(input("Enter The Number Of Students: "))):
  n=input(f"Enter The Name Of Employee-{i+1}: ")
  d[n]=int(input(f"Enter The Salary Of Employee-{i+1}: "))
print(dict([(k,v) for k,v in d.items() if 2000<v<4000]))

Enter The Number Of Students: 3
Enter The Name Of Employee-1: pratham
Enter The Salary Of Employee-1: 3500
Enter The Name Of Employee-2: pranitha
Enter The Salary Of Employee-2: 3000
Enter The Name Of Employee-3: kunder
Enter The Salary Of Employee-3: 4000
{'pratham': 3500, 'pranitha': 3000}

#5.	Python program to convert a 3 digit number  into words

In [0]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'One hundred',200:'Two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}
num=int(input("Enter the integer between 100 to 999:"))
print(f"{d[num//100*100]} {d[((num//10)%10)*10]} {d[num%10]}")

Enter the integer between 100 to 999:568
five hundred sixty eight

#Python Program to count the total number of charaters (except blank space) in a text file.

In [0]:
f=open("/shri.txt","r")
t=f.read()
c=0
for i in t:
  if(i!=" " and i!='\n'):
    c+=1
print(c)

23

#Python Program to print all the numbers present in a text file with its total number of occurrence.

In [0]:

file_txt = open("/kunder.txt","r")		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

1 : 1
2 : 1
3 : 1
4 : 3
5 : 4
6 : 2

#Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [0]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: /shri.txt
Enter file to be appended to: /kunder.txt

#Python Program to count the number of blank spaces in a text file.

In [0]:
file_txt = open("/kunder.txt","r")		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i == " "):
		 charc += 1
 
print ("total num of spaces: ",charc);

total num of spaces:  1

#Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [0]:
with open('/shri.txt', 'r') as f:
  with open("kunder.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("kunder.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

Shrinivas Kunder

Mandathi